@import "https://fonts.googleapis.com/css?family=Raleway|Open+Sans:700|Playfair+Display:200, 400,700";

$primary: 'Open Sans', sans-serif;
$secondary: 'Raleway', sans-serif;
$sherif: 'Playfair Display', serif;
$reddish: #e84545;
$blackish: #494c4e;
$plum: #3a3e64;
$violet: #313454;
$greyish: #C3C4C6;


.row:before,
.row:after, .clearfix {
	content: "";
	display: table;
	clear: both;
 }

body {
    margin: 0;
    font-family: $primary;
    color: $blackish;
    font-size: 14px;
    h1 {
        font-family: $primary;
    }
    p {
        font-family: $secondary;
    }
    h2 {
        font-size: 14px;
        text-transform: uppercase;
        font-weight: bold;
    }
}

hr {
   background-color: rgba(255, 255, 255, 0.66);
}

.container {
	width: 100%;
	max-width: 1174px;
	margin: 0 auto;
}

section:not(.contact) {
    margin-bottom: 120px;
}

header {
	background-size: cover;
    background: url(https://static.pexels.com/photos/172299/pexels-photo-172299.jpeg);
	min-height: 50px;
    margin-bottom: 50px;

    .jumbotron {
        text-align: center;
        background-color: transparent;
        color: white;
        height: 70vh;

        .display-3 {
            padding-top: 24px;
            font-size: 3.5vw;
            text-transform: uppercase;
            font-weight: bold;
        }

        .lead {
            font-size: 14px;
            font-weight: 200;
        }

        .btn {
            text-transform: uppercase;
            font-size:  14px;
            transition: 0.6s;
        }
    }

    .purple-layer {
        background-color: rgba(38, 34, 131, 0.59);
    }

	.navbar-header {
        padding-top: 40px;
		min-height: 50px;
		&:after {
			content: "";
			display: table;
			clear:both;
		}

		.icon-bar {
			background-color: white;
			color: white;
			border: 1px solid white;
		}
	}

	.my-navbar {
		background-color: transparent;
		border: 0px;

		ul {
			padding-top: 40px;
			li {
				text-transform: uppercase;
			}
		}
		.navbar-collapse
			a {
				color: white;
				min-width: 50px;
				display: block;
				line-height: 50px;
				padding: 0 20px;
				font-weight: bold;
				&:hover {
					color: $reddish;
					text-decoration: none;
				}
			}

		}
	}




.features {
    text-align: center;
    img {
        padding-bottom: 3vh;
        padding-top: 10vh;
    }

    h2 {
        text-transform: uppercase;
        font-weight: bold;
    }
    p {
        padding-top: 2vh;
    }
}

.gallery [class*="col-"] {
	position: relative;
	padding: 0;
	margin: 0;

	img {
		width: 100%;
	}
}



@mixin layer-plus-hover() {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	transition: .25s;
	background-color: rgba(255, 0, 0, 0.46);
	cursor: pointer;
	&:hover {
		opacity: 1;
	}

	span {
		color: white;
		text-align: center;

		h3 {
			padding-top: 13vh;
			font-size: 14px;
			text-transform: uppercase;
			font-weight: bold;
		}

		p {
			font-size: 14px;
		}
	}
}

@mixin layer-entrails()  {
	position: absolute;
}

.layer {
	@include layer-plus-hover;
	div {
		@include layer-entrails;
	}
}

@mixin icon-button {
	height: 30px;
	width: 30px;
	border: 0.5px solid $greyish;
	background: white;
	cursor: pointer;
	font-size: 14px;
	transition: 0.5s;
	i {
		color: $greyish;
	}
	&:hover {
		background-color: $reddish;
		border: 0.5px solid $reddish;
		i {
			color: white;
		}
	}
}

.team {
	h2 {
		padding-top: 10px;
		font-size: 24px;
		text-transform: none;
	}

	.role {
		color: $reddish;
		font-size: 14px;
		text-transform: uppercase;
	}

	.social {
		.icon-btn {
			@include icon-button;
		}
	}

	.square {
		width: 100%;
		padding-top: 100%;
		position: relative;

		img {
			width: 100%;
			height: auto;
			border-radius: 50%;
			object-fit: cover;
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
		}
	}
}
.quote {
	background-color: #543449;
	color: white;
	img {
		width: 100%;
	}
    q {
		font-family: $sherif;
		font-size: 45px;
		margin-top: 40px;
        font-weight: 300;
	}
	p {
		text-transform: uppercase;
		font-size: 14px;
        padding-top: 1vh;
	}
    .box {
        width: 80%;
        padding-top: 5vh;
    }
}

.carousel-control.left, .carousel-control.right {
    background-image: none;
}

.carousel-indicators {
	position: absolute;
    bottom: 10px;
    left: 75%;
    width: 50%;
    z-index: 15;
    padding-left: 0;
    text-align: center;
    list-style: none;
}

.download {
	text-align: center;
	p {
		text-transform: uppercase;
	}
    .btn {
        text-transform: uppercase;
        font-size:  12px;
        transition: 0.6s;
    }
    h3 {
        font-size: 30px;
    }
}

.contact {
	background-color: $plum;
	color: white;
	text-align: center;
	h2 {
		padding-top: 20px;
	}
	p {
		color: rgba(255, 255, 255, 0.73);
		padding-top: 10px;
		font-size: 12px;
	}

	.share {
		padding-top: 10px;
	}

	.icon-btn {
		@include icon-button;
		background-color: transparent;
		border: 1px solid white;
		i {
			color: white;
		}
		&:hover {
			border: 1px solid $plum;
		}
	}
}



footer {
	background-color: $violet;
	color: white;
	margin: 0;
	padding: 0;

	p {
		color: rgba(255, 255, 255, 0.73);
		margin: 0;
		padding-top: 10px;
		padding-bottom: 10px;
		text-align: center;
		font-size: 12px;
	}
}
/* SHOULD LOOK LIKE THIS https://i.imgur.com/f4lwWOw.jpg */

/* MEDIA QUERIES BIGGER SCREEN */

@media (min-width: 1200px) {
	header .jumbotron {
		height: 50vh;
	}

	.display-3 {
        font-size: 50px;
    }

	.carousel-caption {
		display: none;
	}
}

@media (min-width: 1200px) and (max-width: 1500px) {
	.text q {
		font-size: 34px;
	}
}

/* BETWEEN TWO SCREENS */

@media (min-width: 768px) and (max-width: 1199px) {
	header {
		.jumbotron {
			height: 50vh;
		}

		.display-3 {
            font-size: 30px;
        }
	}

	.text {
		display: none;
	}

	.carousel-caption {
		background-color: rgba(163, 157, 157, 0.62);
		q {
			font-size: 24px;
		}
	}

	.carousel-indicators {
		left: 55%;
	}
}

@media (min-width: 768px) and (max-width: 829px) {

	.my-navbar {
		background-color: transparent;
		border: 0px;

		.navbar-collapse a {
				font-size: 12px;
				max-width: 110px;
			}

		}
	}


/* MEDIA QUERIES SMALL SCREEN */

@media (max-width: 767px) {
	header {
		.jumbotron {
			height: 30vh;
		}

		.display-3 {
            padding-top: 15px;
        }
	}

	.layer {
		opacity: 1;
		background-color: transparent;
		text-shadow: 2px 1px black;
	}

	.carousel-caption {
		background-color: rgba(163, 157, 157, 0.62);
		padding: 5px;
		q {
			font-size: 18px;
		}
		p {
			padding-bottom: 10px;
		}
	}
	.carousel-indicators {
		left: 55%;
	}

	.text {
		display: none;
	}

	.team {
		.social  {
			text-align: center;
			padding-bottom: 10px;
		}
	}
}

@media (max-width: 530px) {
	.carousel-caption {
		width: 90%;
		left: 5%;
		q {
			font-size: 10px;
		}
		p {
			font-size: 8px;
		}
	}
}
